.page{
    background: var(--blue3) !important;
}

.toolbar.tabbar.toolbar-bottom{
    background: var(--blue1) !important;
}

.link.tab-link.tab-link-active{
    background: var(--blue1) !important;
}

.link.tab-link.tab-link-active div{
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.link.tab-link.tab-link-active img{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.navbar{
    background: var(--blue3) !important;
}

.navbar::before{
    content: ' ' !important;
    background: none !important;
}

.navbar-inner.sliding{
    color:#fff !important;
}


.item-title{
    color:#fff !important;
}

.signup-page{
    background-color: #0d2541 !important;
}

.item-input input {
    background: white !important;
    border-radius: 5px !important;
    height: 48px !important;
}

.signup-link{
    background: #2096f3;
    border-radius: 5px;
    margin: 15px;
    color: white !important;
} 
.md .item-input-wrap::after{
    display: none !important;
}

input,.btn-reg{
    padding: 1em !important;
}

a.list-button {
    background: #2295f3;
    color: #fff !important;
    border-radius: 5px;
}

ul li input{
    border-radius: 0 !important;
}

a.back-button.link.icon-only.tab-link.color-white.tab-link-active{
    background: transparent !important;
}

.nav-account-reg .sliding{
    padding: .5em !important;
}

.simple-list li:after, .links-list a:after, .list .item-inner:after{
    display: none !important;
}