<?xml version='1.0' encoding='utf-8'?>
<widget id="com.msap.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mpossible App</name>
    <description>
        Mpossible App
    </description>
    <author email="info@bliimo.com" href="http://bliimo.com">
        Bliimo Technologies Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://*" />
    <allow-navigation href="https://*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="./platforms/android/app/src/main/res/icons/android/icon.png" />
        <icon density="ldpi" src="./platforms/android/app/src/main/res/icons/android/icon.png" />
        <icon density="hdpi" src="./platforms/android/app/src/main/res/icons/android/icon.png" />
        <icon density="xhdpi" src="./platforms/android/app/src/main/res/icons/android/icon.png" />
        <icon density="xxhdpi" src="./platforms/android/app/src/main/res/icons/android/icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="SplashScreen" value="screen" />
    <preference name = "SplashScreenDelay" value = "3000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <preference name="BackupWebStorage" value="local" />
</widget>
