.container {
  /* padding: 10px */
}

.activity img.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.activity .profile img {
  position: relative;
  margin: 0 auto;
  display: block;
}

.activity .description {
  padding: 0.5em 2.2em;
  font-family: var(--font-light);
  color: #fff;
}

.back-button {
  margin: 20px 0px;
}

.back-button i {
  font-size: 50px;
}

.activity .profile img.logo {
  width: 80%;
}

.activity .profile p.name {
  text-align: center;
  font-size: var(--title-text);
}

#dashboard {
  background: var(--blue3);
  height: 100%;
}

.featured-activity img.featured-activity-bg-image {
  position: absolute;
  top: -10%;
  width: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);
  mask-image: linear-gradient(to top, transparent 25%, black 100%);
}
.featured-activity .content {
  display: inline-block;
  position: relative;
  margin: 50px 0px;
  color: #fff;
  /* transform: translateY(20%); */
}

.featured-activity .content .left {
  width: 60%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
}

.featured-activity .content .left .logo img {
  width: 100%;
}

.featured-activity .content .left .description {
  font-family: var(--font-light);
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 23vh;
}

.featured-activity .content .right {
  width: 40%;
  box-sizing: border-box;
  padding: 10px;
  float: right;
}

.featured-activity .content .right .name {
  font-family: var(--font-bold);
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.5px;
}

.featured-activity .content .right .profile-picture {
  top: 0%;
}

.featured-activity .content .right .profile-picture img {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.activities {
  padding: 10px;
  z-index: 9999;
  position: relative;
}

.activities .talk img {
  width: 100%;
}

.activities a .talk .title {
  font-family: var(--font-bold);
  font-size: 10px;
  overflow: hidden;
  background: var(--blue1);
  border-radius: 4px;
  padding: 2px 4px;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0.5em;
  margin: auto;
}

.circle-img {
  border-radius: 100%;
}

#profilePicture-activity {
  height: 130px;
  width: 130px;
}
.profile .name {
  margin: 0;
  font-size: 1.5em !important;
  position: relative;
  bottom: 0.5em;
}

.item-input-wrap.input-dropdown::before {
  display: none;
}

#tabs {
  background: transparent !important;
}
#tabs a.link.tab-link {
  color: #717171;
}

#tabs a.link.tab-link.tab-link-active {
  color: #fff !important;
}
.content {
  padding: 0.8em;
}

.activities {
  padding: 2em 0;
}
.activity-title {
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

i.icon.material-icons {
  font-weight: bold;
}
a.btn-Question.button.button-fill.button-small {
  float: right;
  width: 50%;
  margin-top: 1em;
  background: #0171a6;
  border-radius: 0;
}

.date-activity {
  font-size: 1.7em;
  position: relative;
}
.top-title {
  font-size: 1.2em;
  font-weight: bolder !important;
  width: 70% !important;
  text-align: center !important;
  letter-spacing: 2px;
}
.wrapper-star {
  padding: 1em;
  padding-top: 2.2em;
}

.title.activity-desc,
.activity-time {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 0.8em;
}
.poweredBy {
  height: 30px;
  position: absolute;
  z-index: 999999999;
  right: 1em;
  top: 0.8em;
}

div#tab-1,
div#tab-2 {
  padding: 0 !important;
  height: auto !important;
  margin: 0 !important;
}

div#tab-1 > div,
div#tab-2 > div {
  padding: 2em;
}

div#tabs {
  padding: 0 !important;
  margin: 0 !important;
}
.wrapper-star span {
  font-size: 3.3em;
}

#modal-alert-activities {
  top: 30% !important;
}

#modal-alert-wrapper-activities {
  height: 100% !important;
}
.date-activity {
  padding-left: 1em;
  padding-right: 1em;
}

.item-inner,
.item-content.item-input,
.list li {
  border: none !important;
}

.featured-activity {
  height: 290px !important;
}

.featured-activity > .swiper-container.swiper-container-horizontal.swiper-container-ios {
  height: 100% !important;
}
