.activity img.bg-image{
  position: absolute;
  top: 0;
  left: 0;
}
.activity .profile img{
  position: relative;
  margin: 0 auto;
  display: block;
}
.activity .description{
  padding: 10px;
  font-family: var(--font-light); 
  font-size: var(--normal-text);
}
.back-button{
  margin: 20px 0px;
}
.back-button i{
  font-size: 50px;
}
.activity .profile img.logo{
  width: 80%;
}
.activity .profile img.picture{
  padding: 20px 0px 0px 0px;
}
.activity .profile p.name{
  text-align: center;
  font-size: var(--title-text)
}
#dashboard{
  background: var(--blue3);
  height: 100%;
}
.featured-activity{
  height: 300px;
}
.featured-activity img.featured-activity-bg-image{
  position: absolute;
  top: 0%;
  width: 100%;
}
.featured-activity .content{
  display: inline-block;
  position: relative;
  margin: 50px 0px;
  color: #fff;
}
.featured-activity .content .left{
  width:60%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
}
.featured-activity .content .left .logo img{
  width:100%
}
.featured-activity .content .left .description{
  font-family: var(--font-light);
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.featured-activity .content .right{
  width:40%;
  box-sizing: border-box;
  padding: 10px;
  float: right;
}
.featured-activity .content .right .name{
  font-family: var(--font-light);
  font-size: 10px;
  text-align: center;
}
.featured-activity .content .right .profile-picture{
  top: 0%;
}
.featured-activity .content .right .profile-picture img{
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.activities{
  padding: 10px;
}
.activities .talk img{
  width: 100%;
}
.activities .talk .title{
  position: absolute;
  top: 0%;
  font-size: 10px;
  overflow: hidden;
  background: var(--blue1);
  margin: 10px 0px;
  border-radius: 0px 3px 3px 0px;
  padding: 2px 4px;
}
.name{
  color: #fff;
  margin-left: 30%;
  margin-top: 0px;
  font-size: 19px;
}
.bgImage{
  margin-left: -75px;
  margin-top: -8px;
}
.imagePos{
  margin-top: -275px;
}
.profile{
  margin-left: 30%;
  margin-top: 30px;
  width: 40%;
}
.mpossibleLogo{
  width: 85%;
  margin-left: 4%;
  margin-top: -40px;
  margin-bottom: -25px;
}
.theTalk{
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: -10px;
  padding-left: 20px;
}
.thePlace{
  font-size: 20px;
  padding-left: 20px;
  margin-top: -10px;
  margin-bottom: -25px;
}
.description{
  color: darkgray;
  margin-top: -10px;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 10px;
}
.stars{
  margin-left: 115px;
  margin-top: 20px;
}
.backgroundColor{
  padding: 8px;
  color: black;
  background-color: white;
  height: 30%;
  border-radius: 10px;  
}
.textArea{
  color: #848484fa;
  padding-left: 4px;
  padding-right: 25px !important;
  border: solid 2px;
}
.accordionContainer{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: -10px;
}
.input-clear-button{
  right: -30px !important; 
}
.imgSize{
  width: 100%;
  height: 200px;
}
.swiperPadding{
  padding-left: 15px;
  padding-right: 15px;
}
.get-data-from-user{
  margin-top: -10px;
}
.back-button{
  margin-bottom: 25px;
  margin-top: 5px;
}
.back-button i {
  font-weight: bold;
}
.accordion-item-content{
  display: flex !important;
}
.btnActive{
  display: flex;
  margin-left: 15px;
}
.btnActivePos{
  padding-left: 20px;
}