.booth-information {
  display: inline-block;
  width: 100%;
}

.booth-information .left,
.booth-information .right {
  display: inline-block;
}

.booth-information .left {
  text-align: center;
  margin: 1em 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
}

.booth-information img {
  width: auto;
  height: 70px;
}

.left img {
  width: 80%;
  height: auto;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 50%;
  transform: translatey(-50%);
}

.booth-information .right {
  margin: 1em 0;
  width: 80%;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  float: right;
  color: #fff !important;
}

.booth-description {
  font-size: 0.75em;
  font-weight: lighter;
  color: #ccc;
}

.paragraph {
  font-size: var(--normal-text);
  font-family: var(--font-light);
}

.booths .accordion-item {
  margin: 0px 0px 20px 0px;
}

.collapse-info {
  font-size: 0.8em;
}

.booth-img {
  width: 100%;
  margin: auto !important;
  height: auto;
  vertical-align: middle;
  position: relative;
}
f.booth-wrapper .company-desc .booth-wrapper {
  text-align: center;
}

.booth-wrapper .company-name {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0.5em;
}

.booth-wrapper .company-desc {
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  bottom: 2.5em !important;
}

.pop-info {
  position: absolute;
  background: #fff;
  color: #222;
  z-index: 9999999;
  width: 72%;
  margin: auto;
  left: 10%;
  top: 20%;
  padding: 1em;
}

.notif-wrapper {
  position: absolute;
  width: 100%;
  min-height: 150%;
  z-index: 9999999;
  background-color: #000000e0 !important;
}

.pop-info h1 {
  font-size: 1.1em;
  font-weight: bolder;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.pop-info p {
  font-size: 0.8em;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.pop-info label {
  font-size: 0.8em;
  margin-right: 0.3em;
  font-weight: lighter;
}

.nav-booths .sliding {
  margin-top: 0.7em !important;
}

.block.accordion-list {
  top: -2em !important;
}
.notif-wrapper {
  top: 0;
  left: 0;
}
.accordion-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.booth-wrapper span {
  color: #fff;
}

.booth-wrapper .company-desc {
  font-size: 0.7em;
  padding-top: 0 !important;
  position: relative;
  bottom: 1.5em;
}

.img-wrapper-booth {
  width: 130px;
  background: #fff;
  height: 130px;
  border-radius: 100%;
  padding: 0.5em;
  margin: auto;
  overflow: hidden;
}
.vertical-middle {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}
