.booth-information {
  display: inline-block;
  width:100%;
}

.booth-information .left,
.booth-information .right {
  display: inline-block;
}

.booth-information .left {
  text-align: center; margin: 1em 0;
  width: 20%;
  height: 50px;
}

.booth-information img {
  width: auto;
  height: 70px;
}

.left img{
  width: 100% !important;
  height: auto;
  vertical-align: middle;
}

.booth-information .right {
  width: 80%;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  float: right;
}

.booth-description {
  font-size: var(--normal-text);
  font-family: var(--font-light);
}

.paragraph {
  font-size: var(--normal-text);
  font-family: var(--font-light);
}

.booths .accordion-item {
  margin: 0px 0px 20px 0px;
}

.collapse-info {
  font-size: .8em;
}

.booth-img{
  width: auto;
  max-width: 100% !important;
  margin: auto !important;
  height: 100px;
}

.booth-wrapper{
  text-align: center;
  margin-top: 7em;
}

.booth-wrapper .company-name{
  font-size: 1.5em;
  text-transform: uppercase;
}

.booth-wrapper .company-desc{
  font-weight: 300;
  color: gray;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.pop-info {
  position: absolute;
  background: #fff;
  color: #222;
  z-index: 9999999;
  width: 72%;
  margin: auto;
  left: 10%;
  top: 20%;
  padding: 1em;
}

.notif-wrapper{
  position: absolute;
  width: 100%;
  min-height: 150%;
  z-index: 9999999;
  background-color: #000000e0 !important;
}

.pop-info h1{
  font-size: 1.1em;
  font-weight: bolder;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.pop-info p{
  font-size: .8em;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.pop-info label{
  font-size: .8em;
  margin-right: .3em;
  font-weight: lighter;
}

.nav-booths .sliding{
  margin-top: .7em !important;
}

.block.accordion-list{
  top: -2em !important;
}
.notif-wrapper {
  top: 0;
  left: 0;
}