.booth-information {
  display: inline-block;
  width:100%;
}

.booth-information .left,
.booth-information .right {
  display: inline-block;
}

.booth-information .left {
  text-align: center; margin: 1em 0;
  width: 20%;
  height: 50px;
}

.booth-information img {
  width: auto;
  height: 70px;
}

.left img{
  width: 100% !important;
  height: auto;
  vertical-align: middle;
}

.booth-information .right {
  width: 80%;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  float: right;
}

.booth-description {
  font-size: var(--normal-text);
  font-family: var(--font-light);
}

.paragraph {
  font-size: var(--normal-text);
  font-family: var(--font-light);
}

.booths .accordion-item {
  margin: 0px 0px 20px 0px;
}

.collapse-info {
  font-size: .8em;
}

.booth-img{
  width: auto;
  max-width: 100% !important;
  margin: auto !important;
  height: 100px;
}

.booth-wrapper{
  text-align: center;
  margin-top: 7em;
}

.booth-wrapper .company-name{
  font-size: 1.5em;
  text-transform: uppercase;
}

.booth-wrapper .company-desc{
  font-weight: 300;
  color: gray;
  font-family: sans-serif;
  letter-spacing: 1px;
}